.ant-form.login-form {
  margin: 100px auto 0;
  max-width: 300px;
}
.login-form .login-form-forgot {
  float: right;
}
.login-form .login-form-button {
  width: 100%;
}
.login-form .toRegister{
  text-align: right;
}