.ant-form.login-form {
  padding-top: 100px;
  margin: 0px auto;
  max-width: 300px;
}
.login-form .login-form-forgot {
  float: right;
}
.login-form .login-form-button {
  width: 100%;
}
.login-form .toRegister{
  text-align: right;
}