.blogDetail-wrap{
  margin-top: 20px;
  display: flex;
  @media (max-width: 980px){
    .blogDetail-wrap-right{
      display: none;
    }
  }
  .blogDetail-wrap-left{
    flex: 1;
    padding: 20px 20px 30px;
    background: #fff;
    border-radius: 4px;
  }
  .blogDetail-wrap-right{
    width: 220px;
    margin-left: 10px;
    .blogDetail-author-wrap{
      height: 200px;
      margin-bottom: 10px;
      background: #fff;
      border-radius: 4px;
    }
    .ant-anchor-wrapper{
      margin-left: 0px;
      padding: 10px 0 10px 4px;
      border-radius: 4px;
    }
    .markNav-title{
      padding-left: 10px;
      font-weight: bold;
    }
    .markdown-navigation{
      .title-anchor{
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
      }
    }
  }
  .load-wrap{
    text-align: center;
    padding: 40px 0;
  }
  .author-wrap{
    float: left;
    height: 40px;
    width: 100%;
    margin-top: 20px;
    .author-left{
      float: left;
      .img-avater{
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
      .text-wrap{
        display: inline-block;
        margin-left: 10px;
        .name-span{
          font-size: 16px;
          color:#333;
          font-weight: bold;
          cursor: pointer;
        }
        .time-wrap{
          font-size: 12px;
          color:#909090;
        }
      }
    }
    .author-right{
      float: right;
      margin-top: 5px;
      .collect-wrap{
        display: inline-block;
        float: left;
        margin-right: 10px;
        margin-top: 5px;
        cursor: pointer;
      }
      .follow-wrap{
        float: left;
      }
    }
  }
  .content-wrap{
    width: 100%;
    overflow: hidden;
    img{
      display: inline-block;
      max-width: 96%;
    }
  }
  .reply-wrap{
    margin-top: 10px;
    padding: 0 10px;
    .textarea-wrap{
      .button-wrap{
        text-align: right;
        margin-top: 8px;
      }
    }
    .reply-ul{
      margin-top: 10px;
      .reply-li{
        display: flex;
        .li-left{
          width: 60px;
          float: left;
          text-align: center;
          .img-avater{
            width: 32px;
            height: 32px;
            border-radius: 50%;
          }
        }
        .reply-r-ul{
          padding: 20px 15px 10px;
          background: #fafbfc;
          .li-right{
            .reply-r-wrap-s{
              background: #fff;
            }
          }
        }
        .li-right{
          flex: 1;
          float: left;
          margin-bottom: 20px;
          border-bottom: 1px solid #f1f1f1;
          .reply-name{
            color:#3498db;
          }
          .l-r-top{
            font-size: 14px;
            color :#333;
            line-height: 30px;
            .name-wrap{
              cursor: pointer;
            }
          }
          .content{
            font-size: 14px;
            margin-top: 5px;
            color:#505050;
            line-height: 24px;
            white-space: pre-line;
          }
          .l-r-bottom{
            height: 40px;
            line-height: 40px;
            font-size: 14px;
            color:#8a9aa9;
            .l-r-b-right{
              float: right;
            }
            .delete-wrap{
              float: left;
              margin-right: 10px;
              cursor: pointer;
            }
            .reply-btn{
              cursor: pointer;
            }
          }
          .reply-r-wrap{
            padding: 15px 10px;
            background: #fafbfc;
            overflow: hidden;
            margin-bottom: 10px;
            .button-wrap{
              float: right;
              margin-top: 10px;
              .ant-btn{
                font-size: 12px;
              }
            }
            .cancel-btn{
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
  .title{
    margin-top: 20px;
    font-size: 32px;
    color:#333;
    line-height: 40px;
    font-weight: bold;
  }
  .article-content{
    padding: 20px 0;
    line-height: 24px;
    font-size: 14px;
    color: #333;
  }
  .dcss html,.dcss address,.dcss blockquote,.dcss body,.dcss dd,.dcss div,
  .dcss dl,.dcss dt,.dcss fieldset,.dcss form,.dcss frame,.dcss frameset,
  .dcss h1,.dcss h2,.dcss h3,.dcss h4,.dcss h5,.dcss h6,.dcss noframes,
  .dcss ol,.dcss p,.dcss ul,.dcss center,.dcss dir,.dcss hr,.dcss menu,
  .dcss pre { display: block }
  .dcss li { display: list-item;
    text-align: -webkit-match-parent;list-style: inherit;}
  .dcss head { display: none }
  .dcss table { display: table }
  .dcss tr { display: table-row }
  .dcss thead { display: table-header-group }
  .dcss tbody { display: table-row-group }
  .dcss tfoot { display: table-footer-group }
  .dcss col { display: table-column }
  .dcss colgroup { display: table-column-group }
  .dcss td,.dcss th { display: table-cell; }
  .dcss caption { display: table-caption }
  .dcss th { font-weight: bolder; text-align: center }
  .dcss caption { text-align: center }
  .dcss body { margin: 8px; line-height: 1.12 }
  .dcss h1 { font-size: 2em; margin: .67em 0;line-height: 1.5em }
  .dcss h2 { font-size: 1.5em; margin: .75em 0;line-height: 1.5em }
  .dcss h3 { font-size: 1.17em; margin: .83em 0;line-height: 1.5em }
  .dcss h4 { font-size: 1.09em; margin: 1.12em 0;line-height: 1.5em }
  .dcss h4,.dcss p,.dcss blockquote,.dcss ul,.dcss fieldset, .dcss form,.dcss ol,.dcss dl,.dcss dir,.dcss menu { margin: 1.12em 0 }
  .dcss h5 { font-size: .83em; margin: 1.5em 0;line-height: 1.5em }
  .dcss h6 { font-size: .75em; margin: 1.67em 0;line-height: 1.5em }
  .dcss h1, .dcss h2, .dcss h3, .dcss h4, .dcss h5, .dcss h6, .dcss b,.dcss strong { font-weight: bolder }
  .dcss blockquote { margin-left: 40px; margin-right: 40px }
  .dcss i, .dcss cite, .dcss em,.dcss var,.dcss address { font-style: italic }
  .dcss pre, .dcss tt,.dcss code,.dcss kbd,.dcss samp { font-family: monospace }
  .dcss pre { white-space: pre }
  .dcss button,.dcss textarea,.dcss input,.dcss object,.dcss select { display:inline-block; }
  .dcss big { font-size: 1.17em }
  .dcss small, .dcss sub, .dcss sup { font-size: .83em }
  .dcss sub { vertical-align: sub }
  .dcss sup { vertical-align: super }
  .dcss table { border-spacing: 2px; }
  .dcss thead, .dcss tbody,.dcss tfoot { vertical-align: middle }
  .dcss td, .dcss th { vertical-align: inherit }
  .dcss s, .dcss strike,.dcss del { text-decoration: line-through }
  .dcss hr { border: 1px inset }
  .dcss ol, .dcss ul,.dcss dir, .dcss menu, .dcss dd { margin-left: 40px }
  .dcss ol { list-style-type: decimal ;

    text-align: -webkit-match-parent;
  }
  .dcss ol ul,.dcss ul ol, .dcss ul ul, .dcss ol ol { margin-top: 0; margin-bottom: 0;list-style: decimal }
  .dcss u,.dcss ins { text-decoration: underline }
  .dcss br:before { content:"A"}
  .dcss :before, .dcss :after { white-space: pre-line }
  .dcss center { text-align: center }
  .dcss abbr,.dcss acronym { font-variant: small-caps; letter-spacing: 0.1em }
  .dcss :link,.dcss :visited { text-decoration: underline }
  .dcss :focus { outline: thin dotted invert }
  .dcss BDO[DIR="ltr"] { direction: ltr; unicode-bidi: bidi-override }
  .dcss BDO[DIR="rtl"] { direction: rtl; unicode-bidi: bidi-override }
  .dcss *[DIR="ltr"] { direction: ltr; unicode-bidi: embed }
  .dcss *[DIR="rtl"] { direction: rtl; unicode-bidi: embed }
  @media print {
    .dcss h1 { page-break-before: always }
    .dcss h1,.dcss h2,.dcss h3,.dcss h4,.dcss h5,.dcss h6 { page-break-after: avoid }
    .dcss ul,.dcss ol,.dcss dl { page-break-before: avoid }
  }
}