.blogDetail-wrap{
  padding: 20px 20px 30px;
  background: #fff;
  margin-top: 20px;
  .load-wrap{
    text-align: center;
    padding: 40px 0;
  }
  .author-wrap{
    float: left;
    height: 40px;
    width: 100%;
    margin-top: 20px;
    .author-left{
      float: left;
      .img-avater{
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
      .text-wrap{
        display: inline-block;
        margin-left: 10px;
        .name-span{
          font-size: 16px;
          color:#333;
          font-weight: bold;
        }
        .time-wrap{
          font-size: 12px;
          color:#909090;
        }
      }
    }
    .author-right{
      float: right;
      margin-top: 5px;
      .collect-wrap{
        display: inline-block;
        float: left;
        margin-right: 10px;
        margin-top: 5px;
        cursor: pointer;
      }
      .follow-wrap{
        float: left;
      }
    }
  }
  .content-wrap{
    width: 100%;
    overflow: hidden;
    img{
      display: inline-block;
      max-width: 96%;
    }
  }
  .reply-wrap{
    margin-top: 10px;
    padding: 0 10px;
    .textarea-wrap{
      .button-wrap{
        text-align: right;
        margin-top: 8px;
      }
    }
    .reply-ul{
      margin-top: 10px;
      .reply-li{
        display: flex;
        .li-left{
          width: 60px;
          float: left;
          text-align: center;
          .img-avater{
            width: 32px;
            height: 32px;
            border-radius: 50%;
          }
        }
        .reply-r-ul{
          padding: 20px 15px 10px;
          background: #fafbfc;
          .li-right{
            .reply-r-wrap-s{
              background: #fff;
            }
          }
        }
        .li-right{
          flex: 1;
          float: left;
          margin-bottom: 20px;
          border-bottom: 1px solid #f1f1f1;
          .reply-name{
            color:#3498db;
          }
          .l-r-top{
            font-size: 14px;
            color :#333;
            line-height: 30px;
          }
          .content{
            font-size: 14px;
            margin-top: 5px;
            color:#505050;
            line-height: 24px;
            white-space: pre-line;
          }
          .l-r-bottom{
            height: 40px;
            line-height: 40px;
            font-size: 14px;
            color:#8a9aa9;
            .l-r-b-right{
              float: right;
            }
            .delete-wrap{
              float: left;
              margin-right: 10px;
              cursor: pointer;
            }
            .reply-btn{
              cursor: pointer;
            }
          }
          .reply-r-wrap{
            padding: 15px 10px;
            background: #fafbfc;
            overflow: hidden;
            margin-bottom: 10px;
            .button-wrap{
              float: right;
              margin-top: 10px;
              .ant-btn{
                font-size: 12px;
              }
            }
            .cancel-btn{
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
  .title{
    margin-top: 20px;
    font-size: 32px;
    color:#333;
    line-height: 40px;
    font-weight: bold;
  }
  .article-content{
    padding: 20px 0;
    line-height: 24px;
    font-size: 14px;
    color: #333;
  }
}