.writeBlog-wrap{
  .ant-form{
    .my-editor{
      border: 1px solid #d9d9d9;
      border-radius: 4px;
      background: #fff;
    }
    .ant-select{
      width: 50%;
      margin-right: 20px;
    }
  }
}
@media (max-width: 980px){
  .writeBlog-wrap{
    width: 96%;
    margin: 0 auto;
  }
}