@import '~antd/dist/antd.css';
body{
  width: 100%;
}
.body-wrap{
  height: 100%;
  margin: 0 auto;
}
.layout-wrap{
  max-width: 1000px;
  margin: 0 auto;
}
.layout-wrap-big{
  min-height: 100%;
  background: #f4f5f5;
  overflow: hidden;
}