.userComponent-wrap{
  .userInfo-content{
    height: 140px;
    width: 100%;
    background: #fff;
    margin-top: 20px;
    border-radius: 2px;
    .uc-left{
      .img-avater{
        display: block;
        float: left;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 20px;
      }
      .name-span{
        font-weight: bold;
        font-size: 30px;
        line-height: 80px;
      }
      .left-text{
        float: left;
        .left-ul{
          .left-li{
            padding: 0 10px;
            float:left;
            text-align: center;
            .num-text{
              font-size: 16px;
              color:#30445a;
              font-weight: bold;
            }
            .text-span{
              font-size: 12px;
              color:#31455d;
            }
          }
        }
      }
    }
    .uc-right{
      float:right;
      .button-wrap{
        margin:70px 20px 0 0;
      }
    }
  }
  .tab-wrap{
    overflow: hidden;
    margin-top: 20px;
    background: #fff;
    border-bottom: 1px solid #eee;
    .tab-ul{
      .tab-li{
        float: left;
        padding:0 20px;
        height: 50px;
        line-height: 50px;
        font-size: 16px;
        font-weight: bold;
        color:#333;
        a{
          color:#333;
          &.active{
            color:#1890ff;
          }
        }
      }
    }
  }
  .blog-ul{
    margin-top: 0;
    .li-wrap{
      .li-top{
        overflow: hidden;
        font-size: 14px;
        .l-t-l{
          float: left;
          .img-avater{
            margin-top: 10px;
            display: inline-block;
            width: 30px;
            height: 30px;
            border-radius: 50%;
          }
        }
        .l-t-m{
          float: left;
          margin-left: 10px;
          height: 50px;
          line-height: 50px;
        }
      }
      .tc-content{
        .li-title{
          font-size: 24px;
          font-weight: bold;
          height: 50px;
          line-height: 40px;
          overflow: hidden;
          text-overflow:ellipsis;
          white-space: nowrap;
        }
        .li-content{
          font-size: 15px;
        }
      }
    }
  }
  .follows-wrap-s{
    min-height: 100px;
    padding:0 0px 20px;
    background: #fff;
    .load-wrap{
      text-align: center;
      padding: 50px 0;
    }
    .user-ul{
      .user-li{
        overflow: hidden;
        height: 100px;
        padding: 0 20px;
        border-bottom: 1px solid #f7f8f9;
        .li-left{
          float: left;
          .img-wrap{
            .img-avater{
              display: inline-block;
              margin-top: 27px;
              width: 45px;
              height: 45px;
              border-radius: 50%;
            }
            .name-wrap{
              line-height: 100px;
              margin-left: 15px;
              font-size: 18px;
              color:#333;
              cursor: pointer;
            }
          }
        }
        .li-right{
          float: right;
          .ant-btn{
            height: 28px;
            line-height: 28px;
          }
          .btn-usual{
            width: 74px;
            text-align: center;
            margin-top: 36px;
          }
          .hasFollowed{
            background: #4ad9fd;
            border: 1px solid #4ad9fd;
            color:#fff;
          }
          .noFollow{
            color:#4ad9fd;
            border: 1px solid #4ad9fd;
          }
        }
      }
    }
  }
}